---
import Posts from "@/components/Posts.astro";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import { url } from "@/lib/utils/url";

const posts = await getSinglePage("posts");
const sortedPosts = sortByDate(posts);
const latestPosts = sortedPosts.slice(0, 5);
---

<Base>
  <section class="section">
    <div class="container">
      <div class="mb-8 flex items-center justify-between gap-4">
        <h2 class="h3">Latest Posts</h2>
        <a
          href={url("/posts")}
          class="shrink-0 font-medium text-text-dark transition hover:text-primary hover:underline"
          >Read all posts</a
        >
      </div>
      <Posts posts={latestPosts} />
    </div>
  </section>
</Base>
